body {
    font-family: "Roboto", sans-serif;
    color: rgb(67 68 85);
    margin: 0;
    padding: 0;
    background-color: rgb(255 255 255);
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgb(77 90 229);
}

.header-logo .logo-part {
    color: rgb(46 47 66);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}

.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: rgb(64 75 191);
}
.hero-section {
    background-color: rgb(46 47 66);
}
.main-title {
    font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */ 
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: rgb(255 255 255);
}

.order-service-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.15);
    background: rgb(77 90 229);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgb(255 255 255);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.benefit-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}   
.benefits-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.team-section {
    background-color: rgb(244 244 253);
}

.section-title {
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}
.team-name {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}
.team-role {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46 47 66);
}
.portfolio-category {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(67 68 85);
}

.page-footer {
    background-color: rgb(46 47 66);
}
.footer-logo .logo-part {
    color: rgb(244 244 253);
}
.footer-text {
    font-size: 16px;
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(244 244 253);
}

